.navbar {
  overflow: hidden;
  background-color: #bababa;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("img/funbg1.png");
  background-position: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar a {
  float: left;
  color: yellow;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-shadow: 3px 3px blue;
  padding-left: 100px;
}

.navbar a:hover {
  cursor: pointer;
  color: red;
  text-shadow: 5px 5px rgba(0, 0, 255, 0.489);
  position: relative;
  top: -2px;
  left: -2px;
  font-size: 32px;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
}

.item {
  color: black;
  font-family: "Nerko One", cursive;
  background-image: url("img/funbg2.png");
  background-size: 45%;
  background-position: center;
  background-repeat: repeat;
  padding: 0;
  font-size: 30px;
  text-align: center;
}

.item p {
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
}

.header {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

ul {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}

.item ul {
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
}

